<h1>Edit Product</h1>

    <form method="POST" action="/product/edit/{{productDoc._id}}/?_method=PUT">
          Product Title: <input type="text" name="pTitle" value="{{productDoc.productTitle}}"><br>
          Product Price: <input type="text" name="pPrice" value="{{productDoc.productPrice}}"><br>
          Quantity On Hand: <input type="text" name="pQuantityOnHand" value="{{productDoc.productQuantity}}"><br>
          Product Description: <input type="textarea" name="pDescription" value="{{productDoc.productDescription}}"><br>
          {{#if productDoc.productTax}}
          Taxable Item <input type="radio" name="pTax" value="yes" required checked>Yes
          <input type="radio" name="pTax" value="no" required>No <br>
          {{else}}
          Taxable Item <input type="radio" name="pTax" value="true" required>Yes
          <input type="radio" name="pTax" value="false" required checked>No <br>
          {{/if}}
          <input type="submit" value="Add Product">
      </form>